<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <body class="text-center">
    <main class="form-signin">
      <form>
        <img
          class="mb-4"
          src="https://seeklogo.com/images/M/mini-market-logo-BF4A1CB5E0-seeklogo.com.png"
          alt=""
          width="72"
          height="57"
        />
        <h1 class="h3 mb-3 fw-normal">Recuperar cuenta</h1>

        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" /> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Recuperar
        </button>
      </form>
    </main>
  </body>
</main>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <img
        class="mb-2"
        src="/docs/5.3/assets/brand/bootstrap-logo.svg"
        alt=""
        width="24"
        height="19"
      />
      <small class="d-block mb-3 text-body-secondary">© 2017–2024</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#">Cool stuff</a>
        </li>
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#"
            >Random feature</a
          >
        </li>
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#"
            >Team feature</a
          >
        </li>
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#"
            >Stuff for developers</a
          >
        </li>
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#"
            >Another one</a
          >
        </li>
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#">Last time</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#">Resource</a>
        </li>
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#"
            >Resource name</a
          >
        </li>
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#"
            >Another resource</a
          >
        </li>
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#"
            >Final resource</a
          >
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#">Team</a>
        </li>
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#">Locations</a>
        </li>
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#">Privacy</a>
        </li>
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="#">Terms</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
