<main class="main">
  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0SS0GH2-YdnOkk_eBWEAgE9JkKDY6uYA2lSsQzZTpLUVVfFkP1gjzSbX7cwp1BFwenjo&usqp=CAU"
        />

        <h2 class="fw-normal">Alejandra</h2>
        <p>
          "¡Esta app de mini mercado es una maravilla! Me encanta poder hacer
          mis compras rápidas y fáciles desde la comodidad de mi hogar. La
          variedad de productos es increíble y siempre encuentro lo que
          necesito. Además, la entrega es súper rápida, así que puedo tener mis
          compras en minutos. La interfaz es muy intuitiva y fácil de usar, y el
          servicio al cliente es excelente. ¡Definitivamente la recomiendo!"
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
          src="https://cdn.pixabay.com/photo/2024/07/22/17/11/elegance-in-profile-8913207_640.png"
        />

        <h2 class="fw-normal">Isabella</h2>
        <p>
          Esta app ha revolucionado la forma en que hago mis compras. La
          interfaz es muy intuitiva, lo que hace que encontrar lo que necesito
          sea pan comido. Además, la variedad de productos es impresionante y
          los precios son muy competitivos. ¡Y lo mejor de todo es la rapidez
          con la que llega mi pedido! Sin duda, la recomiendo a todos mis
          amigos.
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
          src="https://images.imagenmia.com/model_version/bbfea91410ef7994cfefde4a33e032f3aebf7b90dda683f7fa32ea2685d2e7bb/1723819204347-output.jpg"
        />

        <h2 class="fw-normal">Arley</h2>
        <p>
          ¡Esta app de mini mercado es un salvavidas! Hace que comprar lo que
          necesito sea súper rápido y fácil. La entrega es muy puntual y la
          variedad de productos es genial. ¡La recomiendo totalmente!
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          Productos Colombianos
          <!-- <span class="text-body-secondary">It’ll blow your mind.</span> -->
        </h2>
        <p class="lead">
          Colombia es un país rico en diversidad y cultura, lo que se refleja en
          una amplia variedad de productos únicos y deliciosos.
        </p>
      </div>
      <div class="col-md-5">
        <img
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          src="https://distribuidoralatinoandina.com/media/2019/07/Productos-Colombianos.png"
          alt=""
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">
          Tenderos Colombianos
          <!-- <span class="text-body-secondary">See for yourself.</span> -->
        </h2>
        <p class="lead">
          Los tenderos colombianos son una parte fundamental de la cultura y el
          comercio en nuestro país. Son esos pequeños negocios de barrio que
          tienen de todo un poco y que nos reciben con una sonrisa y un "buenos
          días".
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          src="https://revistaclevel.com/sites/default/files/styles/wide/public/Tenderos.jpg?itok=g8z0H7C2"
          alt=""
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          Conectar consumidores
          <!-- <span class="text-body-secondary">Checkmate.</span> -->
        </h2>
        <p class="lead">
          Conectar a los consumidores es clave para el éxito de cualquier
          negocio, ya sea a gran escala o una pequeña empresa. Esto no solo
          aumenta las ventas, sino que también fortalece la lealtad hacia la
          marca y genera una comunidad en torno a los productos o servicios.
        </p>
      </div>
      <div class="col-md-5">
        <img
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          src="https://creativesociety.mx/storage/blog/tmptmptl7bq6uh.format-jpeg.jpg"
          alt=""
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->
  <div class="container-sm py-3">
    <!-- FOOTER -->
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img
            class="mb-2"
            src="https://seeklogo.com/images/M/mini-market-logo-BF4A1CB5E0-seeklogo.com.png"
            alt=""
            width="24"
            height="19"
          />
          <small class="d-block mb-3 text-body-secondary">© 2017–2024</small>
        </div>
        <div class="col-6 col-md">
          <h5>Características</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a
                class="link-secondary text-decoration-none"
                href="cosas-interesantes"
                >Cosas Interesantes</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Recursos</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="recursos"
                >Recursos</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="contactanos"
                >Contactanos</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Acerca de</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="equipo"
                >Equipo</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="privacidad"
                >Privacidad</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="terminos"
                >Terminos</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</main>

<router-outlet />
