<main class="main">
  <div class="container py-3">
    <h1 class="text-body-emphasis">Terminos y Condiciones</h1>
    <p class="fs-5 col-md-8">
      Qué son los términos y condiciones y para qué sirven “Términos y
      Condiciones” es el documento que rige la relación contractual entre el
      proveedor de un servicio y el usuario. En la web, este documento a menudo
      también se denomina “Condiciones de servicio” (ToS), “Condiciones de uso”,
      EULA (“Acuerdo de licencia de usuario final”), “Condiciones generales” o
      “Notas legales”. Los Términos y Condiciones no son más que un contrato en
      el que el titular aclara las condiciones de uso de su servicio. Algunos
      ejemplos son el uso del contenido (derechos de autor), las reglas que los
      usuarios deben seguir mientras interactúan entre sí en el sitio web/app,
      las reglas relacionadas con la cancelación o suspensión de la cuenta de un
      usuario, etc. Se debe prestar especial atención a las cláusulas de
      limitación de responsabilidad (y descargos de responsabilidad), por
      ejemplo, en caso de mal funcionamiento de la aplicación o el sitio web.
      Los Términos y Condiciones representan el documento que ayuda a prevenir y
      resolver los problemas. Por ello, son fundamentales en muchos casos para
      defenderse en caso de abuso.
    </p>

    <hr class="col-3 col-md-2 mb-5" />

    <!-- FOOTER -->
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img
            class="mb-2"
            src="https://seeklogo.com/images/M/mini-market-logo-BF4A1CB5E0-seeklogo.com.png"
            alt=""
            width="24"
            height="19"
          />
          <small class="d-block mb-3 text-body-secondary">© 2017–2024</small>
        </div>
        <div class="col-6 col-md">
          <h5>Características</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a
                class="link-secondary text-decoration-none"
                href="cosas-interesantes"
                >Cosas Interesantes</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Recursos</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="recursos"
                >Recursos</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="contactanos"
                >Contactanos</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Acerca de</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="equipo"
                >Equipo</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="privacidad"
                >Privacidad</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="terminos"
                >Terminos</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</main>

<router-outlet />
