<main class="main">
  <div class="container py-3">
    <div class="content">
      <h1>Pedidos</h1>

      <div class="table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th style="width: 25%">Dirección</th>
              <th style="width: 25%">Fecha de entrega</th>
              <th style="width: 25%">Precio Total</th>
              <th style="width: 25%">Fecha de creacion</th>
            </tr>
          </thead>
          <tbody>
            @for (item of resultados_pedidos?.data; track item.id) {
              <tr>
                <th scope="row" class="text-start">
                  {{ item.direccion }}
                </th>
                <th scope="row" class="text-start">{{ item.fecha_entrega }}</th>
                <th scope="row" class="text-start">{{ item.precio_total }}</th>
                <th scope="row" class="text-start">
                  {{ item.fecha_creacion }}
                </th>
                <th scope="row" class="text-start">
                  <a type="button" href="/pedidos">
                    <button
                      type="submit"
                      class="w-100 btn btn-lg btn-primary"
                      (click)="deleteProducto(item.id)"
                    >
                      Eliminar
                    </button>
                  </a>

                  <!-- <button type="submit" class="w-100 btn btn-lg btn-primary" (click)="deleteProducto(item.id)">
                    Eliminar
                  </button> -->
                </th>
                <th scope="row" class="text-start">
                  <button type="submit" class="w-100 btn btn-lg btn-primary">
                    Más
                  </button>
                </th>
              </tr>
            }
          </tbody>
        </table>
      </div>
      <button (click)="toggleLiveDemo()" cButton>Launch demo modal</button>

      <c-modal
        id="liveDemoModal"
        [visible]="visible"
        (visibleChange)="handleLiveDemoChange($event)"
      >
        <c-modal-header>
          <h5 cModalTitle>Modal title</h5>
          <button (click)="toggleLiveDemo()" cButtonClose></button>
        </c-modal-header>
        <c-modal-body
          >Woohoo, you are reading this text in a modal!</c-modal-body
        >
        <c-modal-footer>
          <button (click)="toggleLiveDemo()" cButton color="secondary">
            Close
          </button>
          <button cButton color="primary">Save changes</button>
        </c-modal-footer>
      </c-modal>
    </div>

    <!-- <div class="container">
      <ng-template #view>
        <div class="modal-container">
          <div class="title">
            <h2>How to create component dynamically in Angular ?</h2>
          </div>
          <div class="content">
            <p class="current">
              This is the first method. First method is to use a ViewContainerRef
              with a Template Ref. You create the view contained within the
              TemplateRef, then create the modal component and inject the view.
            </p>
          </div>
          <div class="footer">
            <button (click)="close()">Close</button>
          </div>
        </div>
      </ng-template>
    
      <button class="template" (click)="openModalTemplate(view)">
        Open modal with TemplateRef
      </button>
      <button (click)="openModalComponent()">Open modal with a component</button>
    </div> -->

    <!-- FOOTER -->
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img
            class="mb-2"
            src="https://seeklogo.com/images/M/mini-market-logo-BF4A1CB5E0-seeklogo.com.png"
            alt=""
            width="24"
            height="19"
          />
          <small class="d-block mb-3 text-body-secondary">© 2017–2024</small>
        </div>
        <div class="col-6 col-md">
          <h5>Características</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a
                class="link-secondary text-decoration-none"
                href="cosas-interesantes"
                >Cosas Interesantes</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Recursos</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="recursos"
                >Recursos</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="contactanos"
                >Contactanos</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Acerca de</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="equipo"
                >Equipo</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="privacidad"
                >Privacidad</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="terminos"
                >Terminos</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</main>

<router-outlet />
