<main class="main">
  <div class="container py-3">
    <div class="content">
      <h1>Pedidos</h1>

      <div class="table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th style="width: 25%">Dirección</th>
              <th style="width: 25%">Fecha de entrega</th>
              <th style="width: 25%">Precio Total</th>
              <th style="width: 25%">Fecha de creacion</th>
            </tr>
          </thead>
          <tbody>
            @for (item of resultados_pedidos?.data; track item.id) {
              <tr>
                <th scope="row" class="text-start">
                  {{ item.direccion }}
                </th>
                <th scope="row" class="text-start">{{ item.fecha_entrega }}</th>
                <th scope="row" class="text-start">{{ item.precio_total }}</th>
                <th scope="row" class="text-start">
                  {{ item.fecha_creacion }}
                </th>
                <th scope="row" class="text-start">
                  <a type="button" href="/pedidos">
                    <button
                      type="submit"
                      class="w-100 btn btn-lg btn-primary"
                      (click)="deleteProducto(item.id)"
                    >
                      Eliminar
                    </button>
                  </a>
                </th>
                <th scope="row" class="text-start">
                  <button
                    (click)="toggleLiveDemo(item)"
                    class="w-100 btn btn-lg btn-primary"
                    cButton
                  >
                    Más
                  </button>
                </th>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <c-modal
        id="liveDemoModal"
        [visible]="visible"
        (visibleChange)="handleLiveDemoChange($event)"
      >
        <c-modal-header>
          <h5 cModalTitle>Información del pedido</h5>
          <button (click)="toggleLiveDemoClose()" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
          <h5>Nombre tienda: {{ tienda_model?.data?.nombre }}</h5>

          <h5>Nombre usuario: {{ usuario_model?.data?.nombre_completo }}</h5>
          <div class="row row-cols-1 row-cols-md-4 mb-4 text-center">
            @for (item of productos_model; track item.nombre) {
              <div class="col card m-2">
                <div>
                  <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <img class="mb-2" src="{{ item.imagen }}" alt="" />
                  </div>
                  <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">{{ item.nombre }}</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                      ${{ item.precio
                      }}<small class="text-body-secondary fw-light">/U</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>Tipo: {{ item.tipo }}</li>
                      <li>Subtipo: {{ item.sub_tipo }}</li>
                    </ul>
                  </div>
                </div>
              </div>
            }
          </div>
        </c-modal-body>
        <c-modal-footer>
          <button (click)="toggleLiveDemoClose()" cButton color="secondary">
            Close
          </button>
          <button cButton color="primary">Save changes</button>
        </c-modal-footer>
      </c-modal>
    </div>

    <!-- FOOTER -->
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img
            class="mb-2"
            src="https://seeklogo.com/images/M/mini-market-logo-BF4A1CB5E0-seeklogo.com.png"
            alt=""
            width="24"
            height="19"
          />
          <small class="d-block mb-3 text-body-secondary">© 2017–2024</small>
        </div>
        <div class="col-6 col-md">
          <h5>Características</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a
                class="link-secondary text-decoration-none"
                href="cosas-interesantes"
                >Cosas Interesantes</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Recursos</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="recursos"
                >Recursos</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="contactanos"
                >Contactanos</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Acerca de</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="equipo"
                >Equipo</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="privacidad"
                >Privacidad</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="terminos"
                >Terminos</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</main>

<router-outlet />
