<main class="main">
  <div class="container py-3">
    <h1>Informacion del negocio</h1>

    <div class="form-signin">
      <!-- Contact Form -->
      <div class="col-lg-6 container-sm">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <!-- Nombre Tienda -->
          <div class="mb-3">
            <h1 class="text-body-emphasis">
              {{ resultado_tienda?.data?.nombre }}
            </h1>
            <label for="nombre" class="form-label">Nombre Tienda</label>
            <input
              type="text"
              formControlName="nombre"
              class="form-control"
              id="nombre"
              placeholder="Ingresa el nombre de la tienda"
            />
            <div
              *ngIf="
                contactForm.get('nombre')?.invalid &&
                (contactForm.get('nombre')?.touched ||
                  contactForm.get('nombre')?.dirty)
              "
              class="text-danger"
            >
              <small *ngIf="contactForm.get('nombre')?.errors?.['required']"
                >Nombre requerido.</small
              >
            </div>
          </div>

          <hr class="col-3 col-md-2 mb-5" />

          <!-- Dirección -->
          <div class="mb-3">
            <h1 class="text-body-emphasis">
              {{ resultado_tienda?.data?.direccion }}
            </h1>
            <label for="direccion" class="form-label">Dirección</label>
            <input
              type="text"
              formControlName="direccion"
              class="form-control"
              id="direccion"
              placeholder="Ingresa tu dirección"
            />
            <div
              *ngIf="
                contactForm.get('direccion')?.invalid &&
                (contactForm.get('direccion')?.touched ||
                  contactForm.get('direccion')?.dirty)
              "
              class="text-danger"
            >
              <small *ngIf="contactForm.get('direccion')?.errors?.['required']"
                >Dirección requerida.</small
              >
            </div>
          </div>

          <hr class="col-3 col-md-2 mb-5" />

          <!-- Telefono Celular -->
          <div class="mb-3">
            <h1 class="text-body-emphasis">
              {{ resultado_tienda?.data?.celular }}
            </h1>
            <label for="telefonoCelular" class="form-label"
              >Telefono Celular</label
            >
            <input
              type="number"
              formControlName="telefonoCelular"
              class="form-control"
              id="telefonoCelular"
              placeholder="Ingresa tu telefono celular"
            />
            <div
              *ngIf="
                contactForm.get('telefonoCelular')?.invalid &&
                (contactForm.get('telefonoCelular')?.touched ||
                  contactForm.get('telefonoCelular')?.dirty)
              "
              class="text-danger"
            >
              <small
                *ngIf="contactForm.get('telefonoCelular')?.errors?.['required']"
                >Telefono celular requerido.</small
              >
            </div>
          </div>

          <hr class="col-3 col-md-2 mb-5" />

          <!-- Telefono Fijo -->
          <div class="mb-3">
            <h1 class="text-body-emphasis">
              {{ resultado_tienda?.data?.telefono }}
            </h1>
            <label for="telefonoFijo" class="form-label">Telefono Fijo</label>
            <input
              type="number"
              formControlName="telefonoFijo"
              class="form-control"
              id="telefonoFijo"
              placeholder="Ingresa tu telefono fijo"
            />
            <div
              *ngIf="
                contactForm.get('telefonoFijo')?.invalid &&
                (contactForm.get('telefonoFijo')?.touched ||
                  contactForm.get('telefonoFijo')?.dirty)
              "
              class="text-danger"
            >
              <small
                *ngIf="contactForm.get('telefonoFijo')?.errors?.['required']"
                >Telefono fijo requerido.</small
              >
            </div>
          </div>

          <hr class="col-3 col-md-2 mb-5" />

          <!-- Hora de inicio -->
          <div class="mb-3">
            <h1 class="text-body-emphasis">
              {{ resultado_tienda?.data?.hora_inicio }}
            </h1>
            <label for="horaInicial" class="form-label">Hora de inicio</label>
            <input
              type="text"
              formControlName="horaInicial"
              class="form-control"
              id="horaInicial"
              placeholder="Ingresa la hora inicio de trabajo del negocio"
            />
            <div
              *ngIf="
                contactForm.get('horaInicial')?.invalid &&
                (contactForm.get('horaInicial')?.touched ||
                  contactForm.get('horaInicial')?.dirty)
              "
              class="text-danger"
            >
              <small
                *ngIf="contactForm.get('horaInicial')?.errors?.['required']"
                >Hora de inicio de trabajo requerida.</small
              >
            </div>
          </div>

          <hr class="col-3 col-md-2 mb-5" />

          <!-- Hora de final -->
          <div class="mb-3">
            <h1 class="text-body-emphasis">
              {{ resultado_tienda?.data?.hora_fin }}
            </h1>
            <label for="horaFinal" class="form-label">Hora de final</label>
            <input
              type="text"
              formControlName="horaFinal"
              class="form-control"
              id="horaFinal"
              placeholder="Ingresa la hora final de trabajo"
            />
            <div
              *ngIf="
                contactForm.get('horaFinal')?.invalid &&
                (contactForm.get('horaFinal')?.touched ||
                  contactForm.get('horaFinal')?.dirty)
              "
              class="text-danger"
            >
              <small *ngIf="contactForm.get('horaFinal')?.errors?.['required']"
                >Hora final requerida.</small
              >
            </div>
          </div>

          <hr class="col-3 col-md-2 mb-5" />

          <!-- Ciudad -->
          <div class="mb-3">
            <h1 class="text-body-emphasis">
              {{ resultado_tienda?.data?.ciudad }}
            </h1>
            <label for="ciudad" class="form-label">Ciudad</label>
            <input
              type="text"
              formControlName="ciudad"
              class="form-control"
              id="ciudad"
              placeholder="Ingresa tu ciudad"
            />
            <div
              *ngIf="
                contactForm.get('ciudad')?.invalid &&
                (contactForm.get('ciudad')?.touched ||
                  contactForm.get('ciudad')?.dirty)
              "
              class="text-danger"
            >
              <small *ngIf="contactForm.get('ciudad')?.errors?.['required']"
                >Ciudad es querida.</small
              >
            </div>
          </div>

          <hr class="col-3 col-md-2 mb-5" />

          <!-- Pais -->
          <div class="mb-3">
            <h1 class="text-body-emphasis">
              {{ resultado_tienda?.data?.pais }}
            </h1>
            <label for="email" class="form-label">Pais</label>
            <input
              type="text"
              formControlName="pais"
              class="form-control"
              id="pais"
              placeholder="Ingresa tu pais"
            />
            <div
              *ngIf="
                contactForm.get('pais')?.invalid &&
                (contactForm.get('pais')?.touched ||
                  contactForm.get('pais')?.dirty)
              "
              class="text-danger"
            >
              <small *ngIf="contactForm.get('email')?.errors?.['required']"
                >Pais es requerido.</small
              >
            </div>
          </div>

          <hr class="col-3 col-md-2 mb-5" />

          <button
            type="submit"
            class="btn btn-primary container-sm"
            [disabled]="contactForm.invalid"
          >
            Actualizar información
          </button>
        </form>
      </div>
    </div>

    <!-- FOOTER -->
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img
            class="mb-2"
            src="https://seeklogo.com/images/M/mini-market-logo-BF4A1CB5E0-seeklogo.com.png"
            alt=""
            width="24"
            height="19"
          />
          <small class="d-block mb-3 text-body-secondary">© 2017–2024</small>
        </div>
        <div class="col-6 col-md">
          <h5>Características</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a
                class="link-secondary text-decoration-none"
                href="cosas-interesantes"
                >Cosas Interesantes</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Recursos</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="recursos"
                >Recursos</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="contactanos"
                >Contactanos</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Acerca de</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="equipo"
                >Equipo</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="privacidad"
                >Privacidad</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="terminos"
                >Terminos</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</main>

<router-outlet />
