<main class="main">
  <div class="container py-3">
    <h1>Informacion del negocio</h1>

    <div class="form-signin">
      <!-- Contact Form -->
      <div class="col-lg-6 container-sm">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <!-- Nombre Tienda -->
          <div class="mb-3">
            <h1 class="text-body-emphasis">
              {{ resultado_tienda?.data.nombre }}
            </h1>
            <label for="name" class="form-label">Nombre Tienda</label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              id="name"
              placeholder="Ingresa tu nombre completo"
            />
            <div
              *ngIf="
                contactForm.get('name')?.invalid &&
                (contactForm.get('name')?.touched ||
                  contactForm.get('name')?.dirty)
              "
              class="text-danger"
            >
              <small *ngIf="contactForm.get('name')?.errors?.['required']"
                >Nombre completo requerido.</small
              >
            </div>
          </div>

          <hr class="col-3 col-md-2 mb-5" />

          <!-- Dirección -->
          <div class="mb-3">
            <h1 class="text-body-emphasis">
              {{ resultado_tienda?.data.direccion }}
            </h1>
            <label for="email" class="form-label">Dirección</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="email"
              placeholder="Ingresa tu email"
            />
            <div
              *ngIf="
                contactForm.get('email')?.invalid &&
                (contactForm.get('email')?.touched ||
                  contactForm.get('email')?.dirty)
              "
              class="text-danger"
            >
              <small *ngIf="contactForm.get('email')?.errors?.['required']"
                >Email is required.</small
              >
              <small *ngIf="contactForm.get('email')?.errors?.['email']"
                >Email invalido.</small
              >
            </div>
          </div>

          <hr class="col-3 col-md-2 mb-5" />

          <!-- Telefono Celular -->
          <div class="mb-3">
            <h1 class="text-body-emphasis">
              {{ resultado_tienda?.data.celular }}
            </h1>
            <label for="email" class="form-label">Telefono Celular</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="email"
              placeholder="Ingresa tu email"
            />
            <div
              *ngIf="
                contactForm.get('email')?.invalid &&
                (contactForm.get('email')?.touched ||
                  contactForm.get('email')?.dirty)
              "
              class="text-danger"
            >
              <small *ngIf="contactForm.get('email')?.errors?.['required']"
                >Email is required.</small
              >
              <small *ngIf="contactForm.get('email')?.errors?.['email']"
                >Email invalido.</small
              >
            </div>
          </div>

          <hr class="col-3 col-md-2 mb-5" />

          <!-- Telefono Fijo -->
          <div class="mb-3">
            <h1 class="text-body-emphasis">
              {{ resultado_tienda?.data.telefono }}
            </h1>
            <label for="email" class="form-label">Telefono Fijo</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="email"
              placeholder="Ingresa tu email"
            />
            <div
              *ngIf="
                contactForm.get('email')?.invalid &&
                (contactForm.get('email')?.touched ||
                  contactForm.get('email')?.dirty)
              "
              class="text-danger"
            >
              <small *ngIf="contactForm.get('email')?.errors?.['required']"
                >Email is required.</small
              >
              <small *ngIf="contactForm.get('email')?.errors?.['email']"
                >Email invalido.</small
              >
            </div>
          </div>

          <hr class="col-3 col-md-2 mb-5" />

          <!-- Hora de inicio -->
          <div class="mb-3">
            <h1 class="text-body-emphasis">
              {{ resultado_tienda?.data.hora_inicio }}
            </h1>
            <label for="email" class="form-label">Hora de inicio</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="email"
              placeholder="Ingresa tu email"
            />
            <div
              *ngIf="
                contactForm.get('email')?.invalid &&
                (contactForm.get('email')?.touched ||
                  contactForm.get('email')?.dirty)
              "
              class="text-danger"
            >
              <small *ngIf="contactForm.get('email')?.errors?.['required']"
                >Email is required.</small
              >
              <small *ngIf="contactForm.get('email')?.errors?.['email']"
                >Email invalido.</small
              >
            </div>
          </div>

          <hr class="col-3 col-md-2 mb-5" />

          <!-- Hora de final -->
          <div class="mb-3">
            <h1 class="text-body-emphasis">
              {{ resultado_tienda?.data.hora_fin }}
            </h1>
            <label for="email" class="form-label">Hora de final</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="email"
              placeholder="Ingresa tu email"
            />
            <div
              *ngIf="
                contactForm.get('email')?.invalid &&
                (contactForm.get('email')?.touched ||
                  contactForm.get('email')?.dirty)
              "
              class="text-danger"
            >
              <small *ngIf="contactForm.get('email')?.errors?.['required']"
                >Email is required.</small
              >
              <small *ngIf="contactForm.get('email')?.errors?.['email']"
                >Email invalido.</small
              >
            </div>
          </div>

          <hr class="col-3 col-md-2 mb-5" />

          <!-- Ciudad -->
          <div class="mb-3">
            <h1 class="text-body-emphasis">
              {{ resultado_tienda?.data.ciudad }}
            </h1>
            <label for="email" class="form-label">Ciudad</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="email"
              placeholder="Ingresa tu email"
            />
            <div
              *ngIf="
                contactForm.get('email')?.invalid &&
                (contactForm.get('email')?.touched ||
                  contactForm.get('email')?.dirty)
              "
              class="text-danger"
            >
              <small *ngIf="contactForm.get('email')?.errors?.['required']"
                >Email is required.</small
              >
              <small *ngIf="contactForm.get('email')?.errors?.['email']"
                >Email invalido.</small
              >
            </div>
          </div>

          <hr class="col-3 col-md-2 mb-5" />

          <!-- Pais -->
          <div class="mb-3">
            <h1 class="text-body-emphasis">
              {{ resultado_tienda?.data.pais }}
            </h1>
            <label for="email" class="form-label">Pais</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="email"
              placeholder="Ingresa tu email"
            />
            <div
              *ngIf="
                contactForm.get('email')?.invalid &&
                (contactForm.get('email')?.touched ||
                  contactForm.get('email')?.dirty)
              "
              class="text-danger"
            >
              <small *ngIf="contactForm.get('email')?.errors?.['required']"
                >Email is required.</small
              >
              <small *ngIf="contactForm.get('email')?.errors?.['email']"
                >Email invalido.</small
              >
            </div>
            <h1 class="text-body-emphasis">
              {{ resultado_tienda?.data.nombre }}
            </h1>
          </div>

          <hr class="col-3 col-md-2 mb-5" />

          <button
            type="submit"
            class="btn btn-primary container-sm"
            [disabled]="contactForm.invalid"
          >
            Actualizar información
          </button>
        </form>
      </div>
    </div>

    <!-- FOOTER -->
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img
            class="mb-2"
            src="https://seeklogo.com/images/M/mini-market-logo-BF4A1CB5E0-seeklogo.com.png"
            alt=""
            width="24"
            height="19"
          />
          <small class="d-block mb-3 text-body-secondary">© 2017–2024</small>
        </div>
        <div class="col-6 col-md">
          <h5>Características</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a
                class="link-secondary text-decoration-none"
                href="cosas-interesantes"
                >Cosas Interesantes</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Recursos</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="recursos"
                >Recursos</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="contactanos"
                >Contactanos</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Acerca de</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="equipo"
                >Equipo</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="privacidad"
                >Privacidad</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="terminos"
                >Terminos</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</main>

<router-outlet />
