<main class="main">
  <div class="container py-3">
    <h1 class="text-body-emphasis">Cosas Interesantes!!</h1>
    <p class="fs-5 col-md-8">
      Esta sección "Cosas interesantes" puede ser una herramienta poderosa para
      conectar con tus clientes de una manera más personal y divertida. Aquí te
      dejo algunas ideas de contenido que podrías incluir: "¿Sabías que...?"
      (curiosidades sobre los alimentos) "Recetas express para salvar la cena"
      "Organiza tu nevera como un chef" "5 razones para amar las frutas de
      temporada" "Gana un premio con nuestra trivia" ¿Por qué es importante esta
      sección? Conecta con tus clientes a un nivel más personal: Al compartir
      contenido relevante y entretenido, demuestras que te preocupas por sus
      intereses y necesidades. Aumenta el engagement: Fomenta la interacción con
      tus clientes a través de comentarios y compartidos. Posiciona tu marca
      como una fuente de información confiable: Al ofrecer contenido de valor,
      te conviertes en un referente en el sector. Fomenta la fidelidad de tus
      clientes: Al ofrecer una experiencia más completa y personalizada, tus
      clientes serán más propensos a seguir comprando en tu mini market. ¿Qué
      otros temas te gustaría explorar para tu sección de "Cosas interesantes"?
      ¡Estoy aquí para ayudarte a crear contenido que enganche a tu audiencia!
    </p>

    <div class="mb-5">
      <p></p>
    </div>

    <hr class="col-3 col-md-2 mb-5" />

    <div class="row g-5">
      <div class="col-md-6">
        <h2 class="text-body-emphasis">Starter projects</h2>
        <p>
          Contenido Relacionado con Alimentos y Bebidas: Recetas fáciles y
          rápidas: Aprovecha los productos que venden en tu mini market para
          crear recetas sencillas y deliciosas que tus clientes puedan preparar
          en casa. Curiosidades sobre los alimentos: Comparte datos interesantes
          sobre los ingredientes que venden, su origen, propiedades
          nutricionales y usos culinarios. Maridajes: Sugiere combinaciones de
          alimentos y bebidas para diferentes ocasiones, como un picnic en el
          parque o una cena romántica. Tendencias culinarias: Mantén a tus
          clientes al día sobre las últimas tendencias en gastronomía y
          alimentación saludable. Contenido Relacionado con el Estilo de Vida:
          Consejos para una vida saludable: Ofrece consejos prácticos sobre
          nutrición, ejercicio y bienestar. Organización del hogar: Comparte
          ideas creativas para organizar la despensa, la nevera y otros espacios
          de la cocina. Reciclaje y cuidado del medio ambiente: Promueve hábitos
          de consumo responsables y brinda consejos para reducir el impacto
          ambiental.
        </p>
      </div>

      <div class="col-md-6">
        <h2 class="text-body-emphasis">Guides</h2>
        <p>
          Contenido Divertido y Entretenido: Trivia sobre alimentos: Organiza
          concursos y trivia relacionadas con los productos que venden en tu
          mini market. Memes y gifs: Utiliza memes y gifs relacionados con la
          comida y la cocina para generar interacción y engagement. Historias de
          clientes: Comparte historias divertidas o inspiradoras de tus
          clientes. Eventos y promociones: Anuncia eventos especiales,
          promociones y descuentos de manera creativa. Contenido Personalizado:
          Recomendaciones personalizadas: Utiliza los datos de compra de tus
          clientes para ofrecerles recomendaciones personalizadas de productos.
          Listas de compras temáticas: Crea listas de compras temáticas para
          diferentes ocasiones, como una fiesta de cumpleaños, una barbacoa o
          una noche de cine. Ejemplos de títulos para tus publicaciones:
        </p>
      </div>
    </div>

    <!-- FOOTER -->
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img
            class="mb-2"
            src="https://seeklogo.com/images/M/mini-market-logo-BF4A1CB5E0-seeklogo.com.png"
            alt=""
            width="24"
            height="19"
          />
          <small class="d-block mb-3 text-body-secondary">© 2017–2024</small>
        </div>
        <div class="col-6 col-md">
          <h5>Características</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a
                class="link-secondary text-decoration-none"
                href="cosas-interesantes"
                >Cosas Interesantes</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Recursos</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="recursos"
                >Recursos</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="contactanos"
                >Contactanos</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Acerca de</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="equipo"
                >Equipo</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="privacidad"
                >Privacidad</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="terminos"
                >Terminos</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</main>

<router-outlet />
